html{
    height: 100%;
}
body{
    background: linear-gradient(to bottom left, lightblue , green);
}
#container{
    height:400px;
    width:600px;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}
#container #date, #expense{
    height:30px;
    width:150px;
}
#product{
    height:30px;
    width:200px;
}
#btn{
    height:35px;
}
#line{
    margin:auto;
    height:20px;
    border-bottom:black solid 1px;
    width:540px;
}
#list li{
    border-bottom:dotted 1px black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    list-style: none;
    font-size: 25px;
    color: black;
    height:50px;
    background-color: rgba(226, 211, 211,0.4);
}

#con2{
    width:600px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
    column-gap: 60px;
    color:white;
}
#total{
    font-size: 20px;
    float:right;
}
